body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

/****************
nav
****************/
nav {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index:1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}
nav figure {
  position: absolute;
  top: -20px;
  left: 50px;
  -webkit-animation: crazyShark 1s ease;  
  animation: crazyShark 1s ease;
}
@-webkit-keyframes crazyShark {
  0% { -webkit-transform: translate(90%, 70%);opacity: 0;}   
  33% {-webkit-transform: translate(40%, 20%) rotate(90deg);}
  66% {-webkit-transform: translate(10%, 50%);}
  100% {-webkit-transform: translate(0%) rotate(0deg);opacity: 1;} 
}
@keyframes crazyShark {
  0% { transform: translate(90%, 70%);opacity: 0;}   
  33% {transform: translate(40%, 20%) rotate(90deg);}
  66% {transform: translate(10%, 50%);}
  100% {transform: translate(0%) rotate(0deg);opacity: 1;} 
}
nav img {
  width: 160px;
}
.primary-nav {
  float: right;
}
.primary-nav > li {
  float: left;
}
.primary-nav > li > a {
  float: left;
  padding: 20px 0;
  width: 150px;
  border-left: 1px solid #ada791;
}
.primary-nav > li:first-child > a {
  border-left: none;
}
nav li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #766e65;
  #text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear; 
}
nav li a:focus,
nav li a:hover,
nav li a.active {
  background-color: #eb2428;
  color: #fff; 
}
/****************
Drop Down Menu
****************/
.has-submenu ul{
  position: absolute;
  z-index: 5;
  top: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ada791;
  border-left: 1px solid #ada791;
  border-right: 1px solid #ada791;
  width: 150px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  display: none;
}
.has-submenu a {
  display: block;
  padding: 10px 0;
  position: relative;
  z-index: 10;
}
.has-submenu:hover ul {
  display: block;

  -webkit-animation-name: slideDown;  
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease; 
  animation-name: slideDown;  
  animation-duration: .5s;
  animation-timing-function: ease;            
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-100%);opacity: 0;}   
  90% {-webkit-transform: translateY(10%);}
  100% {-webkit-transform: translateY(0%);opacity: 1;} 
}
@keyframes slideDown {
  0% { transform: translateY(-100%);opacity: 0;}   
  90% {transform: translateY(10%);}
  100% {transform: translateY(0%);opacity: 1;} 
}