<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Wirlix Debating Platform</title>
      <link rel="stylesheet" type="text/css" href="reset.css" />
      <link rel="stylesheet" type="text/css" href="wirlix.css" />
      <script type="text/javascript" src="wirlix_util.js"></script>
      <script type="text/javascript" src="wirlix_ajax.js"></script>
   </head>
   <body>
      <!-- 
===============
Nav
===============
-->
<nav class="grouping">
	<figure>
		<img src="images/wirlix_logo.png" alt="Shark"/>
	</figure>
	<ul class="primary-nav grouping">
       <li><a href="index.html">Home</a></li>
		<li class="has-submenu"><a href="gallery.html">Gallery</a>
			<ul>
				<li><a href="">Immigration</a></li>
				<li><a href="">Foreign Policy</a></li>				
			</ul>
		</li>
		<li><a href="upcoming.html">Upcoming</a></li>
		<li><a href="about.html">About</a></li>
	</ul>
</nav>
       
       <!-- Intro Section -->

<section class="grouping">
	<div class="wrapper">
		<div class="intro-content">
			<h1>We Are Wirlix</h1>
			<!--<h2>Open Debating Platform</h2>-->
            <br/>
            <br/>
			<p>Wirlix is a social media debate platform sparking controversy and increasing the interactivity between individuals to institute change. We are giving millennials a voice in regards to world-wide issues today. Our vision is to empower the younger
            generation to not only engage in powerful discussions but also come together to creatively make an impact and resolve today's biggest controversies on college campuses and beyond.
            <blockquote><i>"The most courageous act is still to think for yourself. Aloud."  -Coco Chanel </blockquote>
            </p>
            <a href="joinourteam.html" class="call-to-action">Join Our Team</a>
			<p class="reasons">We are looking for people to contribute. <a href="#">Learn more &raquo;</a></p>
		</div>
        
		<div class="go-premium">
			
		</div><!-- end go-premium -->
	</div><!-- end wrapper -->
	
</section><!-- end section -->

   </body>
</html>
