<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wirlix Debating Platform</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="wirlix.css" />
    <script type="text/javascript" src="wirlix_util.js"></script>
    <script type="text/javascript" src="wirlix_ajax.js"></script>
</head>

<body>
    <!-- 
===============
Nav
===============
-->
    <nav class="grouping">
        <figure>
            <img src="images/wirlix_logo.png" alt="Shark" />
        </figure>
        <ul class="primary-nav grouping">
            <li><a href="index.html">Home</a></li>
            <li class="has-submenu"><a href="gallery.html">Gallery</a>
                <ul>
                    <li><a href="">Immigration</a></li>
                    <li><a href="">Foreign Policy</a></li>
                </ul>
            </li>
            <li><a href="upcoming.html">Upcoming</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    <!-- Intro Section -->

    <section class="grouping">
        <div class="wrapper">
            <div class="intro-content">
                <h1>We Are Wirlix</h1>
                <br/>
                <h2>Debating Platform Sparking Controversy</h2>
                <br/>
                <p>Wirlix is a social media debate platform sparking controversy and increasing the interactivity between individuals to institute change. We are giving millennials a voice in regards to world-wide issues today. Our vision is to empower the younger generation to not only engage in powerful discussions but also come together to creatively make an impact and resolve today's biggest controversies on college campuses and beyond.
                </p>
                <blockquote>"The most courageous act is still to think for yourself. Aloud." -Coco Chanel</blockquote>
                <br/>
                <p class="reasons">We are looking for people to contribute. <a href="joinourteam.html">Join our team &raquo;</a></p>
            </div>
            <div id="clock" class="clock">
            </div>
            <!-- end go-premium -->
        </div>
        <!-- end wrapper -->

    </section>
    <!-- end section -->

</body>

</html>
