<!DOCTYPE html>
<html>
   <head>
       <meta charset = "UTF-8">
       <link rel="stylesheet" type="text/css" href="styles.css" />
       <link href="jquery.mobile.custom.structure.min.css" rel="stylesheet" />
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       <script type="text/javascript" src="wirlix_util.js"></script>

       <title>Wirlix</title>

       <div class = "navbar">
        <div class="navA">
          <a href="index.html">HOME</a>&nbsp;&nbsp;&nbsp;
          <a href="gallery.html">GALLERY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p href="">SPARK CONTROVERSY</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="upcoming.html">FEATURED</a>&nbsp;&nbsp;&nbsp;
          <a href="about.html">ABOUT</a>&nbsp;&nbsp;&nbsp;

       </div>
 </div>

  </head>

  <body>
      <div class="video-background">
          <div class="video-foreground">
<iframe width="560" height="315" src="https://www.youtube.com/embed/n1a7o44WxNo?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
          </div>
</div>
      <div class="vidtop-content">
          <center> <h1>Wirlix</h1> </center>
      </div>
    <div class="row">
      <button onclick="window.location.href='./debateroom.html'" class="btn lg ghost">Enter Debate</button>
    </div>

</video>



</body>

</html>
