<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Wirlix Inc</title>
      <link rel="stylesheet" type="text/css" href="reset.css" />
      <link rel="stylesheet" type="text/css" href="wirlix.css" />
      <script type="text/javascript" src="wirlix_util.js"></script>
      <script type="text/javascript" src="wirlix_ajax.js"></script>
   </head>
   <body>
      <nav>
         <ul>
            <li><a href="home.html">Home</a></li>
        
         
               <li>
               <a href="gallery.html">Gallery <span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a href="gallery.html#immigration">Immigration</a></li>
                     <li><a href="gallery.html#foreignpolicy">Foreign Policy</a></li>
                     <li><a href="gallery.html#tradepolicy">Trade Policy</a></li>
                  </ul>
               </div>
            </li>
            <li><a href="upcoming.html">Upcoming</a></li>
            <li><a href="about.html">About</a></li>
            
           </ul>
       </nav>
   </body>
</html>
