<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles.css" />
      <script type="text/javascript" src="wirlix_util.js"></script>
      <script type="text/javascript" src="wirlix_ajax.js"></script>
   </head>
   <!-- Main Page -->
   <div id="wirlixpage">
      <!-- Header Content -->
      <header>
         <div id="clockbox" class="clock"></div>
         <br>
         <div class="container">
            <nav>
               <div class="textinnavbar">
                  <h2>WIRLIX</h2>
               </div>
               <!-- Next Debate -->
               <!-- <a href="news.html">News</a>&nbsp;
                  Press, Social Media -->
               <div class="navB">
                  <a href="gallery.html">Gallery</a>&nbsp;
                  <a href="upcoming.html">Upcoming</a>&nbsp;
                  <a href="about.html">About</a>&nbsp;
               </div>
         </div>
         </nav>
      </header>
      <!-- Content -->
      <div id="video">
         <div id="wirlix_video"></div>
      </div>
      <div id="Home">
         <div class="Home" <
         <div class="Landing">
         </div>
         <div class="SparkControversy"
         <form action="/debateroom.html" method="get">
            <input type="submit" value="Enter Debate">
         </form>
      </div>
      <div id=b utton style="width:100%;">
         <form action="https://docs.google.com/forms/d/e/1FAIpQLSf-lS_eeNB85qAcuU1j8_SUpr_I6Grmlyi6D4RMczn8__glwQ/viewform?usp=sf_link">
            <input type="submit" value="RSVP">
         </form>
      </div>
      <div id="About">
         <h1>We Are Wirlix</h1>
         <br>
         </br>
         <br />
         <p>Wirlix is a social media debate platform sparking controversy and increasing the interactivity between individuals to institute change. We are giving millennials a voice in regards to world-wide issues today. Our vision is to empower the younger
            generation to not only engage in powerful discussions but also come together to creatively make an impact and resolve today's biggest controversies on college campuses and beyond.
            <br />
            <br />
            <br />
         <blockquote><i>"The most courageous act is still to think for yourself. Aloud."  -Coco Chanel </blockquote>
         </i></p>
      </div>
      <div id="Join">
         <h1>Join Our Team</h1>
         <br />
         <h2> We are always looking to expand our team and give ambitious and progressive minded people an opportunity
            to work with us.If your passion lies in creating societal progress
            through creative and controversial outlets, than apply today!
            <br />
            <br />
            Positions include marketing opportunities, coding opportunities, planning events,
            administrative and business opportunities and more.
            <br />
            <br />
            We are currently working with Stanford University and Boston College for our beta launches. See below for more info.
         </h2>
         <br />
         <br />
         <div style="float:left; width:50%;">
            <h2> Stanford University </h2>
            <p>We are looking at Stanford’s campus to launch a live debate targeting massive general controversies relating to the students on campus. We are working with a few incredible Stanford students right now to host a massive and controversial
               debate for you and your peers at Memorial Auditorium on campus. Think Peter Theil vs. The Fountain Hopper, The Review vs. Administration, a debate on the economic issues on campus or more general topics such as Trump, Race, etc.
            </p>
            <br />
            <br />
            <br />
         </div>
         <div style="float:right; width:50%; ">
            <h2>Boston College</h2>
            <p> We are gaining traction at Boston College by promoting a movement to speak up about the underlying tensions between the conservative administration and liberal students. Boston College almost expelled five of their students for having
               a protest against lack of racial diversity on campus, while they failed to publicly apologize or even ackowledge an incident when a student wrote "Fag" in graffitti on campus. They also fail to provide birth control to students. All
               these incidents, totaled together, cause much controversy on campus and Wirlix is working to conduct a debate bringing these issues to light and empwering students and administration to come together speak up and initate progress on
               the Boston College Campus.
            </p>
         </div>
         <div id="JoinButton">
            <form action="https://docs.google.com/a/wirlix.com/forms/d/e/1FAIpQLSfF1ru-SoWzXh79Zr_jBqA5zSHfHSuDaDtKh2265f4sNMeHXw/viewform?usp=sf_link">
               <input type="submit" value="APPLY">
            </form>
         </div>
      </div>
   </div>
   </body>
   </div>
   <!-- Footer Content -->
   <footer></footer>
</html>
