<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Wirlix Debating Platform</title>
      <link rel="stylesheet" type="text/css" href="reset.css" />
      <link rel="stylesheet" type="text/css" href="wirlix.css" />
      <script type="text/javascript" src="wirlix_util.js"></script>
      <script type="text/javascript" src="wirlix_ajax.js"></script>
   </head>
   <body>
      <!-- 
===============
Nav
===============
-->
<nav class="grouping">
	<figure>
		<img src="images/wirlix_logo.png" alt="Shark"/>
	</figure>
	<ul class="primary-nav grouping">
       <li><a href="index.html">Home</a></li>
		<li class="has-submenu"><a href="gallery.html">Gallery</a>
			<ul>
				<li><a href="">Immigration</a></li>
				<li><a href="">Foreign Policy</a></li>				
			</ul>
		</li>
		<li><a href="upcoming.html">Upcoming</a></li>
		<li><a href="about.html">About</a></li>
	</ul>
</nav>
       
       
      <!-- Intro Section -->

<section class="grouping">
	<div class="wrapper">
		<div class="intro-content">
			<h1>Join Our Team</h1>
			<p>We are always looking to expand our team and give ambitious and progressive minded people an opportunity to work with us.
            If your passion lies in creating societal progress through creative and controversial outlets, than apply today.
            We are currently working with Stanford University and Boston College for our beta launches. See below for more info.</p>
		</div><!-- end intro-content -->
	</div><!-- end wrapper -->
	
</section><!-- end section -->
<!-- 
===============
Secondary Sections
===============
-->
<section class="secondary-section grouping">
	<div class="wrapper">
		<div class="column">
			<h2>Stanford University</h2>
			<p>We are looking at Stanford’s campus to launch a live debate targeting massive general controversies relating to the students on campus. We are working with a few incredible Stanford students right now to host a massive and controversial
               debate for you and your peers at Memorial Auditorium on campus. Think Peter Theil vs. The Fountain Hopper, The Review vs. Administration, a debate on the economic issues on campus or more general topics such as Trump, Race, etc.</p>
			<a href="#" class="button">Stanford University &raquo;</a>
		</div>
		<div class="column">
			<h2>Boston College</h2>
			<p>We are gaining traction at Boston College by promoting a movement to speak up about the underlying tensions between the conservative administration and liberal students. Boston College almost expelled five of their students for having
               a protest against lack of racial diversity on campus, while they failed to publicly apologize or even ackowledge an incident when a student wrote "Fag" in graffitti on campus. They also fail to provide birth control to students. All
               these incidents, totaled together, cause much controversy on campus and Wirlix is working to conduct a debate bringing these issues to light and empwering students and administration to come together speak up and initate progress on
               the Boston College Campus..</p>
			<a href="#" class="button">Boston College &raquo;</a>
		</div>
	</div><!-- end wrapper -->

</section>
   </body>
</html>
