<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href="styles.css" />
        <script type="text/javascript" src="wirlix_util.js"></script>
        <script type="text/javascript" src="wirlix_ajax.js"></script>
        <!-- marquee -->
        <script type="text/javascript" src="crawler.js"></script>


    </head>
    <body>
    <!-- Main Page -->
    <div id="wirlixpage">
        <!-- Header Content -->
        <header>
            <!-- start marquee -->
            <div id="maindiv">
              <div class="marquee" id="mycrawler">
                AFFIRMATIVE ACTION &nbsp;&nbsp;&nbsp;
                DRUGS &nbsp;&nbsp;&nbsp;
                THE EDUCATION SYSTEM &nbsp;&nbsp;&nbsp;
                SPORTS &nbsp;&nbsp;&nbsp;
                HOOKUP CULTURE &nbsp;&nbsp;&nbsp;
                PROTESTS &nbsp;&nbsp;&nbsp;
                POLITICS &nbsp;&nbsp;&nbsp;
                RELATIONSHIPS &nbsp;&nbsp;&nbsp;
                RACE &nbsp;&nbsp;&nbsp;
                THE ECONOMY &nbsp;&nbsp;&nbsp;
                PSYCHOLOGY &nbsp;&nbsp;&nbsp;
                SEX &nbsp;&nbsp;&nbsp;
                GREEK LIFE &nbsp;&nbsp;&nbsp;
                ABORTION &nbsp;&nbsp;&nbsp;
                TECHBOLOGY &nbsp;&nbsp;&nbsp;
                RELIGION ---- &nbsp;&nbsp;&nbsp;

                </div>
              <script type="text/javascript">
              marqueeInit({
                  uniqueid: 'mycrawler',
                  style: {
                      'padding': '5px',
                      // 'width': 100,
                      'background': '#E9D699',
                  'color': 'black',
                      // 'border': '1px solid #CC3300'


                  },
                  inc: 5, //speed - pixel increment for each iteration of this marquee's movement
                  mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
                  moveatleast: 2,
                  neutral: 150,
                  persist: true,
                  savedirection: true,

              });
              </script>
            </div>
            <!-- end marquee -->
            <title>Wirlix</title>

            <div class = "navbar">
             <div class="navA">
               <a href="index.html">HOME</a>&nbsp;&nbsp;&nbsp;
               <a href="gallery.html">GALLERY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <p href="">SPARK CONTROVERSY</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="upcoming.html">FEATURED</a>&nbsp;&nbsp;&nbsp;
               <a href="about.html">ABOUT</a>&nbsp;&nbsp;&nbsp;

            </div>
        </div>
    </header>

        <div class = "aboutus">
            JOIN OUR TEAM
       <br>
   </br>
    <br />
</div>
<div id="container">

  <span class="input">
    <input type="text" class="input__field" id="input-1" />
    <label for="input-1" class="input__label">
      <span class="input__label-content">First Name</span>
  </label>
  </span>

  <span class="input">
    <input type="text" class="input__field" id="input-2" />
    <label for="input-2" class="input__label">
      <span class="input__label-content">Last Name</span>
    </label>
  </span>

  <span class="input">
    <input type="text" class="input__field" id="input-3" />
    <label for="input-3" class="input__label">
      <span class="input__label-content">Email</span>
    </label>
  </span>

  <span class="input">
    <input type="text" class="input__field" id="input-4" />
    <label for="input-4" class="input__label">
      <span class="input__label-content">Phone Number</span>
    </label>
  </span>

  What position(s) are you interested in?

  <input type = "checkbox" name="day" value="" checked> Friday
   <input type = "checkbox" name="day" value="Friday" checked> Friday
   <input type = "checkbox" name="day" value="Friday" checked> Friday

  <span class="input message">
    <textarea class="input__field" id="input-5"></textarea>
    <label for="input-5" class="input__label">
      <span class="input__label-content">Message</span>
    </label>
  </span>

  <button id="send-button" type="button">Send</button>

</div>
