<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href="styles.css" />
        <link href="jquery.mobile.custom.structure.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="jstorage.js"></script>
        <script type="text/javascript" src="wirlix_util.js"></script>
        <script type="text/javascript" src="wirlix_ajax.js"></script>
        <!-- marquee -->
        <script type="text/javascript" src="crawler.js"></script>



    </head>
    <body>
        <!-- Main Page -->
        <div id="wirlixpage">
            <!-- Header Content -->
            <header>
                <!-- start marquee -->
                <div id="maindiv">
                    <div class="marquee" id="mycrawler">
                        AFFIRMATIVE ACTION &nbsp;&nbsp;&nbsp;
                        DRUGS &nbsp;&nbsp;&nbsp;
                        THE EDUCATION SYSTEM &nbsp;&nbsp;&nbsp;
                        SPORTS &nbsp;&nbsp;&nbsp;
                        HOOKUP CULTURE &nbsp;&nbsp;&nbsp;
                        PROTESTS &nbsp;&nbsp;&nbsp;
                        POLITICS &nbsp;&nbsp;&nbsp;
                        RELATIONSHIPS &nbsp;&nbsp;&nbsp;
                        RACE &nbsp;&nbsp;&nbsp;
                        THE ECONOMY &nbsp;&nbsp;&nbsp;
                        PSYCHOLOGY &nbsp;&nbsp;&nbsp;
                        SEX &nbsp;&nbsp;&nbsp;
                        GREEK LIFE &nbsp;&nbsp;&nbsp;
                        ABORTION &nbsp;&nbsp;&nbsp;
                        TECHNOLOGY &nbsp;&nbsp;&nbsp;
                        RELIGION ---- &nbsp;&nbsp;&nbsp;
                    </div>
                    <script type="text/javascript">
                    marqueeInit({
                      uniqueid: 'mycrawler',
                      style: {
                          'padding': '5px',
                          // 'width': 100,
                          'background': '#E9D699',
                      'color': 'black',
                          // 'border': '1px solid #CC3300'


                      },
                      inc: 5, //speed - pixel increment for each iteration of this marquee's movement
                      mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
                      moveatleast: 2,
                      neutral: 150,
                      persist: true,
                      savedirection: true,

                    });
                    </script>
                </div>
                <!-- end marquee -->
                <title>Wirlix</title>

                <div class = "navbar">
                     <div class="navA">
                         <a href="index.html">HOME</a>&nbsp;&nbsp;
                         <a href="gallery.html">GALLERY</a>&nbsp;&nbsp;
                         <a href="upcoming.html">FEATURED</a>&nbsp;&nbsp;&nbsp;&nbsp;
                         <p href="">SPARK CONTROVERSY</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="login.html">LOGIN</a>&nbsp;&nbsp;
                         <a href="register.html">REGISTER</a>&nbsp;&nbsp;
                         <a href="about.html">ABOUT</a>&nbsp;&nbsp;

                    </div>
                </div>
            </header>
            <div class = "aboutus">
                LOGIN
            </div>
            <div id="container">
              <span class="input">
                <input type="text" class="input__field" id="input-1" />
                <label for="input-1" class="input__label">
                    <span class="input__label-content">Email</span>
                </label>
              </span>

                <span class="input">
                    <input type="text" class="input__field" id="input-2" />
                    <label for="input-2" class="input__label">
                        <span class="input__label-content">Password</span>
                    </label>
                </span>

                <button id="login" type="button">LOGIN</button>
            </div>
        </div>
    </body>
</html>
