<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href="styles.css" />
        <script type="text/javascript" src="wirlix_util.js"></script>
        <script type="text/javascript" src="wirlix_ajax.js"></script>
        <!-- marquee -->
        <script type="text/javascript" src="crawler.js"></script>


    </head>
    <body>
    <!-- Main Page -->
    <div id="wirlixpage">
        <!-- Header Content -->
        <header>
            <!-- start marquee -->
            <div id="maindiv">
              <div class="marquee" id="mycrawler">
                AFFIRMATIVE ACTION &nbsp;&nbsp;&nbsp;
                DRUGS &nbsp;&nbsp;&nbsp;
                THE EDUCATION SYSTEM &nbsp;&nbsp;&nbsp;
                SPORTS &nbsp;&nbsp;&nbsp;
                HOOKUP CULTURE &nbsp;&nbsp;&nbsp;
                PROTESTS &nbsp;&nbsp;&nbsp;
                POLITICS &nbsp;&nbsp;&nbsp;
                RELATIONSHIPS &nbsp;&nbsp;&nbsp;
                RACE &nbsp;&nbsp;&nbsp;
                THE ECONOMY &nbsp;&nbsp;&nbsp;
                PSYCHOLOGY &nbsp;&nbsp;&nbsp;
                SEX &nbsp;&nbsp;&nbsp;
                GREEK LIFE &nbsp;&nbsp;&nbsp;
                ABORTION &nbsp;&nbsp;&nbsp;
                TECHBOLOGY &nbsp;&nbsp;&nbsp;
                RELIGION ---- &nbsp;&nbsp;&nbsp;

                </div>
              <script type="text/javascript">
              marqueeInit({
                  uniqueid: 'mycrawler',
                  style: {
                      'padding': '5px',
                      // 'width': 100,
                      'background': '#E9D699',
                  'color': 'black',
                      // 'border': '1px solid #CC3300'


                  },
                  inc: 5, //speed - pixel increment for each iteration of this marquee's movement
                  mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
                  moveatleast: 2,
                  neutral: 150,
                  persist: true,
                  savedirection: true,

              });
              </script>
            </div>
            <!-- end marquee -->
            <title>Wirlix</title>

            <div class = "navbar">
             <div class="navA">
               <a href="index.html">HOME</a>&nbsp;&nbsp;&nbsp;
               <a href="gallery.html">GALLERY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <p href="">SPARK CONTROVERSY</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="upcoming.html">FEATURED</a>&nbsp;&nbsp;&nbsp;
               <a href="about.html">ABOUT</a>&nbsp;&nbsp;&nbsp;

            </div>
        </div>
    </header>

        <div class = "aboutus">
            FEATURED
       <br>
   </br>
    <br />
</div>
    <div class = "text1">
        DEBATE: HOOKUP CULTURE
        <br>
    </br>
    <br />
</div>


<div class = video2>
<iframe width="600" height="345" src="https://www.youtube.com/embed/GSAPV7F8TNU?list=RDvhmOgEKypZo?controls=0&showinfo=0&rel=0&autoplay=1&loop=2" frameborder="0" allowfullscreen></iframe>

</div>



    </div>


  </html>
