<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Debate Center</title>
    <script src="https://swww.tokbox.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <script src="js/tokbox.js"></script>
</head>

<body>
    <h2>Hello, World!</h2>
    <div id="publisher"></div>
    <div id="subscribers"></div>
</body>

</html>
